/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background-image: url('@site/static/img/Mascotte/Resize/tracefullbodydetoure.svg');
  background-position: right; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: contain;
  background-color: #A992FE;
  color: White;
  text-shadow: 2px 2px 0px black;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.customLinkText {
  color: Black; /* Change the color to what you want */
  font-size: 20px; /* Change the font size to what you want */
  text-decoration: none; /* Remove the underline from the link */
  text-shadow: 0px 0px 0px black;
  /* Add other styles as needed */
}
